// ========== Lyrics colors ========== //
// Color list of lyrics [$type $color $background-color, ... ]
$lyrics-color-list:
  "blue1" #448aff rgba(68, 138, 255, 0.1),
  "blue2" #00b0ff rgba(0, 176, 255, 0.1),
  "blue" #00b8d4 rgba(83, 211, 230, 0.1),
  "green1" #00bfa5 rgba(0, 191, 165, 0.1),
  "green2" #00c853 rgba(0, 200, 83, 0.1),
  "green3" #64dd17 rgba(100, 221, 23, 0.1),
  "orange1" #ff9100 rgba(255, 145, 0, 0.1),
  "orange2" #ff5252 rgba(255, 82, 82, 0.1),
  "red1" #ff1744 rgba(68, 138, 255, 0.1),
  "red2" #f50057 rgba(255, 23, 68, 0.1),
  "purple" #651fff rgba(101, 31, 255, 0.1),
  "gray" #9e9e9e rgba(159, 159, 159, 0.1),
  !default;
// ========== Lyrics colors ========== //

.lyrics {
  position: relative;
  margin: 1rem 0;
  padding: 0 .75rem;
  border-left: .25rem solid;
  overflow: auto;

  .lyrics-title {
    font-weight: bold;
    margin: 0 -0.75rem;
    padding: .25rem 1.8rem;
  }

  .lyrics-content {
    padding: .5rem 0;
  }

  i.icon {
    font-size: 0.85rem;
    position: absolute;
    top: .6rem;
    left: .4rem;
  }

  i.details-icon {
    position: absolute;
    top: .6rem;
    right: .3rem;
  }

  @each $type, $color, $background-color in $lyrics-color-list {
    @if $type == "blue1" {
      background-color: $background-color;
      border-left-color: $color;

      .lyrics-title {
        border-bottom-color: $background-color;
        background-color: opacify($background-color, 0.15);
      }

      &.open .lyrics-title {
        background-color: $background-color;
      }

      i.icon {
        color: $color;
      }
    } @else {
      &.#{$type} {
        background-color: $background-color;
        border-left-color: $color;

        .lyrics-title {
          border-bottom-color: $background-color;
          background-color: opacify($background-color, 0.15);
        }

        &.open .lyrics-title {
          background-color: $background-color;
        }

        i.icon {
          color: $color;
        }
      }
    }
  }

  &:last-child {
    margin-bottom: .75rem;
  }
}

