{{- $inner := .Inner | .Page.RenderString -}}


{{- $iconDetails := "fas fa-angle-right fa-fw" -}}
{{- if .IsNamedParams -}}
    {{- $title := .Get "title" -}}
    {{- $url := .Get "url" -}}
    {{- $url_text := .Get "url_text" | default "Url" -}}
    <article>
      <div class="text">
        <h3>{{ $title }}</h3>
        <p>{{ $inner }}</p>
        {{- if $url -}}
        <a href="{{ $url }}" class="btn">{{ $url_text }}</a>
        {{- end -}}
      </div>
    </article>
{{- else -}}
  {{- $title := .Get 0 -}}
  {{- $url := .Get 1 -}}
  {{- $url_text := .Get 2 | default "Url" -}}
  <article>
    <div class="text">
      <h3>{{ $title }}</h3>
      <p>{{ $inner }}</p>
      {{- if $url -}}
      <a href="{{ $url }}" class="btn">{{ $url_text }}</a>
      {{- end -}}
    </div>
  </article>
{{- end -}}
