{{- $inner := .Inner | .Page.RenderString -}}


{{- $iconDetails := "fas fa-angle-right fa-fw" -}}
{{- if .IsNamedParams -}}
    {{- $color := .Get "color" | default "purple" -}}
    <div class="details lyrics {{ $color }}{{ if .Get `open` | ne false }} open{{ end }}">
        <div class="details-summary lyrics-title">
            <i class="icon fa-solid fa-music" aria-hidden="true"></i>{{ .Get "title" | default "Paroles" }}<i class="details-icon {{ $iconDetails }}" aria-hidden="true"></i>
        </div>
        <div class="details-content">
            <div class="lyrics-content">
              {{ range split .Inner "\n" }}
              {{ printf "%s\n" . }}<br>
              {{ end }}
            </div>
        </div>
    </div>
{{- else -}}
  {{- $card_title := .Get 0 | default "" -}}
  {{- $url := .Get 1 | default "#" }}
  <div class="card-nuemorphism">
    <div class="box-nuemorphism">
      <div class="content-nuemorphism">
        <!-- <h2>01</h2> -->
        <h3>{{ $card_title }}</h3>
        <p>{{ $inner }}</p>
        <a href="{{ $url }}">Read More</a>
      </div>
    </div>
  </div>
{{- end -}}
