<article class="page single">
  <div id="audio_player">
    {{ .Inner }}
  </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js" ></script>
<script type="text/javascript">
    let audio_tracks = new Array();
    const audio_track_elts = document.getElementsByTagName("audio_track");
    console.log("## audio_track elements = ", audio_track_elts);
    for (elt of audio_track_elts) {
      console.log("** ", elt);
      let name = elt.getAttribute("name");
      let artist = elt.getAttribute("artist");
      let track_url = elt.getAttribute("url");
      let cover = elt.getAttribute("cover")
      audio_tracks.push({
         name: name,
         artist: artist,
         cover: cover,
         url: track_url
      });
    }
    const ap = new APlayer({
      container: document.getElementById('audio_player'),
      // mini: false,
      autoplay: false,
      theme: '#FADFA3',
      loop: 'all',
      // order: 'random',
      preload: 'auto',
      volume: 0.7,
      mutex: true,
      listFolded: false,
      listMaxHeight: 90,
      // lrcType: 3,
      audio: audio_tracks
    });
</script>
{{- .Page.Scratch.SetInMap "this" "music" true -}}
{{- .Page.Scratch.SetInMap "this" "playlist" true -}}
